*{
	padding: 0;
	margin: 0;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	 -ms-box-sizing: border-box;
	  -o-box-sizing: border-box;
	     box-sizing: border-box;
	font-size: 10px;
	font-family: "PingFang SC",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
	/* font: 10px/1.5 "PingFang SC",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif; */
}
html,
body{
	height: 100%;
}
/* music */
#music{
	width: 15vw;
	height: 15vw;
	position: fixed;
	z-index: 10;
	top: 3%;
	right: 4%;
	border: 4px solid #ef1639;
	border-radius: 50%;
	overflow: hidden;
	background: #fff;
}
#music > img:first-of-type{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 80%;
}
#music > img:last-of-type{
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	z-index: 1;
}
#music > img.play{
	-webkit-animation: musicplay 2s linear infinite;
		    animation: musicplay 2s linear infinite;
}
@keyframes musicplay{
	0% {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);

	}
	100% {
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
		    -ms-transform: rotate(360deg);
		     -o-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@-webkit-keyframes musicplay{
	0% {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);

	}
	100% {
		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
		    -ms-transform: rotate(360deg);
		     -o-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

/* page */
.page{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.page > .bg{
	position: absolute;
	height: 100%;
	width: 100%;
}
/* page_1 */
#pag_1{
	display: block;
}
#pag_1 .bg{
	background: url(../img/p1_bg.jpg) no-repeat center center;
	background-size: 100%;
	z-index: -2;
}
#pag_1 .lantern{
	position: absolute;
	top: -5%;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
	font-size: 4.4rem;
	z-index: 1;
	background: url(../img/p1_lantern.png) no-repeat center center;
	background-size: 100%;
	width: 45vw;
	height: 71vh;
	padding-top: 52%;
}
#pag_1 .lantern:after{
	position: absolute;
	z-index: -1;
	content: "";
	top: -5%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 30vw;
	height: 30vw;
	background: #ef1639;
	opacity: .5;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10vw 10vw #ef1639;
	   -moz-box-shadow: 0 0 10vw 10vw #ef1639;
	    -ms-box-shadow: 0 0 10vw 10vw #ef1639;
	     -o-box-shadow: 0 0 10vw 10vw #ef1639;
			box-shadow: 0 0 10vw 10vw #ef1639;

	-webkit-animation: lanternplay 1s linear infinite;
			animation: lanternplay 1s linear infinite;
}
@keyframes lanternplay{
	0% {
		opacity: .5;
		transform:scale(0.8,0.8);

	}
	50% {
		  opacity: 1;
		  transform:scale(1,1);
	}
	100% {
		  opacity: .5;
		  transform:scale(0.8,0.8);
	}
}
@-webkit-keyframes lanternplay{
	0% {
		opacity: .5;

	}
	50% {
		  opacity: 1;
	}
	100% {
		  opacity: .5;
	}
}
#pag_1 .imooc{
	position: absolute;
	bottom: 6%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	background: url(../img/p1_imooc.png) no-repeat center center;
	background-size: 100%;
	width: 30vw;
	height: 30vh;
}
#pag_1 .words{
	text-align: center;
	font-size: 4rem;
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}

/* page_2 */
#pag_2{
	display: none;
}
#pag_2 .bg{
	background: url(../img/p2_bg.jpg) no-repeat center center;
	background-size: 100%;
	z-index: -2;
}
#pag_2 .p2_circle{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: url(../img/p2_circle_outer.png) no-repeat center center;
	background-size: 100%;
	width: 60%;
	height: 60%;
	-webkit-animation: out 4s linear infinite;
	animation: out 4s linear infinite;
}
#pag_2 .p2_circle:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: url(../img/p2_circle_middle.png) no-repeat center center;
	background-size: 100%;
	width: 79%;
	height: 79%;
	-webkit-animation: middle 3s linear infinite;
	animation: middle 3s linear infinite;
}
#pag_2 .p2_circle:after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: url(../img/p2_circle_inner.png) no-repeat center center;
	background-size: 100%;
	width: 59%;
	height: 59%;
	-webkit-animation: inner 5s linear infinite;
	animation: inner 5s linear infinite;
}
#pag_2 .p2_2016{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: url(../img/p2_2016.png) no-repeat center center;
	background-size: 100%;
	width: 28%;
	height: 28%;
}
/* out */
@keyframes out {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@-webkit-keyframes out {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}

/* middle */
@keyframes middle {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
				transform: rotate(-360deg);
	}
}
@-webkit-keyframes middle {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
				transform: rotate(-360deg);
	}
}

/* inner */
@keyframes inner {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@-webkit-keyframes inner {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
#p2_bg{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%; 
	 /* display: none;  */
	background: #ef1639;
	-webkit-animation: p2_bg 1s linear forwards;
			animation: p2_bg 1s linear forwards;
}
@keyframes p2_bg{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes p2_bg{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/* page_3 */
#pag_3{
	display: none;
}
#pag_3 .bg{
	background: url(../img/p3_bg.jpg) no-repeat center center;
	background-size: 100%;
	z-index: -2;
}
#pag_3 .p3_blessing{
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	margin: auto;
	background: url(../img/p3_blessing.png) no-repeat center center;
	background-size: 100%;
	width: 18%;
	height: 18%;
	-webkit-animation: blessing 2s linear infinite;
	        animation: blessing 2s linear infinite;
}
#pag_3 .p3_first{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 2%;
	margin: auto;
	background: url(../img/p3_couplet_first.png) no-repeat center center;
	background-size: 100%;
	width: 30%;
	height: 52%;
}
#pag_3 .p3_second{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 2%;
	margin: auto;
	background: url(../img/p3_couplet_second.png) no-repeat center center;
	background-size: 100%;
	width: 30%;
	height: 52%;
}
#pag_3 .p3_logo{
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	margin: auto;
	background: url(../img/p3_logo.png) no-repeat center center;
	background-size: 100%;
	width: 30%;
	height: 8%;
}
#pag_3 .p3_title{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: url(../img/p3_title.png) no-repeat center center;
	background-size: 100%;
	width: 43%;
	height: 47%;
}

@keyframes blessing{
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
#p3_bg{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%; 
	 /* display: none;  */
	background: #ef1639;
	-webkit-animation: p3_bg 1s linear forwards;
			animation: p3_bg 1s linear forwards;
}
@keyframes p3_bg{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes p3_bg{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}